<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/shonjeeyeon/DG_Week_4/main/statics/style.css" />
    <title>Drug Prediction Model</title>
</head>

<body>
<h1>Drug Prediction Model</h1><br>
<text>Please enter patient information below.</text><br>
<form action="{{url_for('predict')}}" method="post">
          <input class="Input" type="number" name="age" placeholder="Age" required/><br><br>

<select name="comp_select" class="Input">
      {% for o in data1 %}
      <option value="{{ o.sex }}">{{ o.sex }}</option>
      {% endfor %}
</select><br><br>

<select name="comp_select1" class="Input">
      {% for o in data2 %}
      <option value="{{ o.bp }}">{{ o.bp }}</option>
      {% endfor %} </select><br><br>

    <select name="comp_select2" class="Input">
      {% for o in data3 %}
      <option value="{{ o.ch }}">{{ o.ch }}</option>
      {% endfor %}
    </select><br><br>

    <input class="Input" type="number" name="nak" placeholder="Na to K Ratio" required/>
          <br>
    <button type="submit" class="pred-btn"> Predict </button>
          </form><br>

    <h3> {{prediction_text}} </h3>

</body>
</html>
